@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-bg bg-[url("/bg-blur.svg")] bg-center bg-no-repeat font-Figtree 2xl:bg-cover;
}

/* body::before {
  @apply fixed inset-0 h-full w-full  content-[''];
} */

*::-webkit-scrollbar {
  width: 4px;
  @apply bg-bg;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #4165ff 0%, #7241ff 100%);
  border-radius: 12px;
}
